nav {
    background-color: black;
    font-family: 'Satisfy', cursive;
    
   
}
.navbar-header a {
    font-size: 30px;
    text-align: center;
    color: white;
}

button {
    align-content: left;
}