<div class="container">
    <nav class="navbar navbar-inverse navbar-fixed">        
            <div class="navbar-header">
                <a href="#" class="navbar-brand logo">{{pgTitle}}</a>
            </div>        
    </nav>
<div class="card">
    <div class="card-body">
        <p class="text-align-center col-md-7">Fear of God is the beginning of wisdom</p>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <p class="text-align-center col-md-7">If You can't find the sunshine, be the sunshine</p>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <p class="text-align-center col-md-7">The grass is greener where you water it</p>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <p class="text-align-center col-md-7">Wherever life plants you, bloom with grace</p>
    </div>
</div>
</div>
