<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card bg-transparent">
               <div class="card  bg-transparent quotecard" *ngFor="let quote of quotes; let i = index">
                    <div class="card-body">
                            <div class="row w-60">
                                <div class="col-md-12" id="{{i}}">
                                    {{quote.quote}}
                                </div>
                                <div class="col-md-12">
                                  --  {{quote.author}}
                                </div>
                                <div class="col-md-12 text-white">
                                    Submitted by: <span id="user">{{quote.name}}</span>
                                    <span id="dateofsubmission" class="text-primary"> {{quote.mdate | datecount}}</span>
                                </div>
                                <div class="col-md-12">
                                    <span class="badge badge-pill badge-success" (click)='thumbsUp(quote)'>
                                        upvote <span class="text-white"> {{quote.upvotes}}</span>
                                    </span>
                                    <span class="badge badge-pill badge-warning" (click) ='thumbsDown(quote)'>
                                        downvote<span class="text-dark"> {{quote.downvotes}}</span>
                                    </span>
                                    <span class="badge badge-pill badge-danger float-right" (click)='deleteQuote($event, i)'>
                                        delete
                                    </span>
                                </div>
                            </div>
                        </div>
               </div>
            </div>
        </div>
        <div class="col-md-4">
            <quotes-form (addQuote)="addNewQuote($event)"></quotes-form>
        </div>
    </div>
</div>